.navbar {
    background-color: #4da6ff;
    color: white;
    padding: 1.3em;
}

main {
    margin-top: 5em;
}
.rounded-card {
    margin-top: 3em;
    padding: 3em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 20px;
}

#alert-sign {
    border-left: 6px solid #ff9966;
    background-color: #fff3e6;
    padding: 1em;
}

#we-offer {
    margin-top: 3em;
}

#warning-sign-icon {
    color: #ff9966;
}

img {
    margin-top: 3em;
}

#main-section {
    /*border-left: 6px solid #4da6ff;*/
    background-color: #ffffff;
}

.offered-items-list {
    margin-top: 2em;
    font-size: 20px;
    text-align: center;
    padding: 1em;
    color: #4da6ff;
}

.separator {
    background-color: #0e0a35;
    height: 1px;
    margin-top: 1em;
}

br {
    margin-bottom: 2em !important;
}

footer {
    margin-top: 3em;
    background-color: #4da6ff;
    color: white;
}