.navbar {
    background-color: #ffffff;
    color: white;
    height: 120px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.navbar-brand {
    height: 229px;
}

#logo {
    top: 0;
    height: 100px;
}

main {
    margin-top: 5em;
}
.rounded-card {
    margin-top: 3em;
    padding: 3em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 20px;
}

#alert-sign {
    border-left: 6px solid 	#FEB019;
    background-color: #fff3e6;
    padding: 1em;
}

#amazon-link {
    text-decoration: underline;
    color: inherit;
}

.btn {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#amazon-button {
    margin-top: 0em;
    height: 50px;
}

#we-offer {
    color: 	#C9034E;
    margin-top: 3em;
}

#warning-sign-icon {
    color: 	#FEB019;
}

img {
    margin-top: 3em;
}

#main-section {
    /*border-left: 6px solid #4da6ff;*/
    background-color: #ffffff;
}

.offered-items-list {
    margin-top: 2em;
    font-size: 20px;
    text-align: center;
    padding: 1em;
    color: #0089D1;
}

.separator {
    background-color: #0e0a35;
    height: 1px;
    margin-top: 1em;
}

#about-us {
    color: 	#C9034E;
}

br {
    margin-bottom: 2em !important;
}

footer {
    margin-top: 3em;
    background-color: #0089D1;
    color: white;
}