body {
    background: rgb(173,93,102);
    background: radial-gradient(circle at top, rgba(173,93,102,1) 0%, rgba(93,19,56,1) 100%);
    background-repeat:no-repeat, repeat, repeat;
    color: white;
}

#top-banner {
    margin-top: 3em;
    height: 100vh;
}

.logo {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
}

#navigation-items {
    margin-top: 3em;
    text-align: center;
    font-size: 20px;
}

#banner-img {
    margin-top: 3em;
    border: 5px solid white;
}

.rounded-card {
    margin-top: 3em;
    padding: 3em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 20px;
}
