body {
    /*
    background: rgb(173,93,102);
    background: radial-gradient(circle at top, rgba(173,93,102,1) 0%, rgba(93,19,56,1) 100%);
    */
    background: rgb(210,155,161);
    background: radial-gradient(circle at top, rgba(210,155,161,1) 0%, rgba(93,19,56,1) 40%);
    background-repeat:no-repeat, repeat, repeat;
    color: #FFF8F7;
}

#top-banner {
    margin-top: 3em;
    height: 100vh;
}

.logo {
    font-family: 'Great Vibes', cursive;
    text-align: center;
    text-decoration: none;
    letter-spacing: 3px;
}

#navigation-items {
    margin-top: 3em;
    text-align: center;
    font-size: 20px;
}

#banner-img {
    margin-top: 3em;
    border: 5px solid #FFF8F7;
}

.info-section {
    margin-top: 3em;
    padding: 3em;
    background-color: #FFF8F7;
    color:  rgba(93,19,56,1);
}

.product-card {
    margin-top: 2em;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn {
    border: none;
    background: rgb(210,155,161);
    background: linear-gradient(90deg, rgba(210,155,161,1) 0%, rgba(93,19,56,1) 75%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: white !important;
}

#about {
    margin-top: 3em;
    margin-top: 3em;
    padding: 3em;
    background-color: #FFF8F7;
    color:  rgba(93,19,56,1);
}

.rounded-card {
    margin-top: 3em;
    padding: 3em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 20px;
}
